body {
    display: grid;
}

#container {
    width: 66.66vw;
}

.black-bar {
    color: black;
}
.top-font {
    color: orange;
}

#container header h1 {
    color: orange;
    font-weight: bold; 
    
}

.image-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the start of the container */
}

.top-heading {
    font-family: georgia; 
    font-size: 5em; /* Increase size as needed */
    font-weight: bold; /* Makes the text bolder */
    width: 100%; /* Makes the heading the same width as the image */
    margin-bottom: 10px; /* Reduce space as needed */
}

.section-lefttwo p {
    font-size: 2em; /* Increase size as needed */
    width: 100%; /* Increase width as needed */
    line-height: .2; /* Decrease line spacing as needed */
    margin: 30px;
    align-items: center;
}

.top-font {
    font-family: 'georgia'; /* Replace with your desired font */
    font-size: 0.8em;
}
.orange-text {
    color: orange; /* Makes the text orange */
}
.section-container {
    display: flex;
    width: 32%; /* 3/4 of the page width */
}

.section-leftthree, .section-leftfour {
    flex: 0.5; /* Each section takes up an equal amount of space */
    font-size: 1.72em;
    margin-bottom: 0px; /* Reduce space as needed */
    margin-top: 0px; /* Reduce space as needed */
}
p {
    margin-top: 0; /* Remove space above the paragraph */
    margin-bottom: 0; /* Remove space below the paragraph */
}
.container {
    display: flex;
    height: 100vh; /* Full height of the viewport */
}
.section {
    height: 100%; /* Full height of the container */
}
.section-right {
    position: absolute; /* This will position the section relative to the nearest positioned ancestor */
    right: 1540px; /* This will push the section from the right edge of the viewport */
    top: 100px; /* This will push the section 20px up from its current position */
    width: 16%; /* This will make the section take up 1/3 of the container's width */
    height: 100%; /* Full height of the container */
    font-size: 1.72em;
    margin: 30px; /* This will add a margin of 30px on all sides */
}