
body {
    display: grid;/* using a grid layout */
}

#container {
    width: 66.66vw;/* width of the container  */

}


.black-bar {
    color: black;
}


.top-font {
    color: orange;
}


#container header h1 {
    color: orange;
    font-weight: bold; 
}

/* Set the display properties for elements with class 'image-heading' */
.image-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Set the font properties and dimensions for elements with class 'top-heading' */
.top-heading {
    font-family: georgia; 
    font-size: 5em;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

.section-lefttwo p {
    font-size: 2em;
    width: 100%;
    line-height: .2;
    margin: 30px;
    align-items: center;
}


.orange-text {
    color: orange;
}

/* Set the display properties for elements with class 'section-container' */
.section-container {
    display: flex;
    width: 32%;
}

/* properties and dimensions for elements with class 'section-leftthree' and 'section-leftfour' */
.section-leftthree, .section-leftfour {
    flex: 0.5;
    font-size: 1.72em;
    margin-bottom: 0px;
    margin-top: 0px;
}


p {
    margin-top: 0;
    margin-bottom: 0;
}

/*  display properties for elements with class 'container' */
.container {
    display: flex;
    height: 100vh;
}


.section {
    height: 100%;/* Set the height for elements with class 'section' */
}

/* position and dimensions for elements with class 'section-right' */
.section-right {
    position: absolute;
    right: 1540px;
    top: 100px;
    width: 16%;
    height: 100%;
    font-size: 1.72em;
    margin: 30px;
}


footer {/* font properties for footer elements */
    font-size: 25px;
    font-family: Arial;
}